.verification-container{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resend-input{
    width:300px;
}
.resend-form .btn{
    margin-left:10px;
}
.spinner {
    animation: spin infinite 0.8s linear;
    font-size: 30px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}